<div class="container-fluid" id="about">
<section class="section">
<div class="row">
<div class="col-4">
<div class="border">
sdfsf
</div>
</div>
<div class="col-8">
<div class="border">
  <div class="d-flex justify-content-center">About Me</div>
  <div>
    I'm a Software Engineer and .NET Developer focused on building scalable APIs and robust backends using C#, ASP.NET Core, and modern architectural patterns. I value clean code, performance, and secure, maintainable systems.
  </div>
  <div>
    I enjoy collaborating in teams, applying research-driven problem solving, and continuously learning. Recently, I have optimized APIs with LINQ, middleware, Dependency Injection, and caching to deliver measurable impact.
  </div>
</div>
</div>
</div>
</section>
</div>