<div class="about-section">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="section-title d-inline-block">About Me</h1>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-lg-5 text-center">
        <div class="profile-image-wrapper">
          <img src="https://imagesperfumes20.s3.ap-south-1.amazonaws.com/profile.jpg.jpg" class="profile-image" />
        </div>
      </div>

      <div class="col-lg-7">
        <h2 class="subsection-title">Who I Am</h2>
        <div class="about-text">
          <p>
            I'm a Software Engineer and .NET Developer focused on building scalable APIs
            and robust backends using C#, ASP.NET Core, and modern architectural patterns.
            I value clean code, performance, and secure, maintainable systems.
          </p>

          <p>
            I enjoy collaborating in teams, applying research-driven problem solving,
            and continuously learning. Recently, I have optimized APIs with LINQ,
            middleware, Dependency Injection, and caching to deliver measurable impact.
          </p>
        </div>

        <div class="social-links">
          <ng-container *ngFor="let item of socialLinks">
            <a *ngIf="item.link; else noLink" [href]="item.link" target="_blank" class="social-link">
              <i class="bi" [ngClass]="item.icon"></i>
              <span>{{ item.text }}</span>
            </a>
            <ng-template #noLink>
              <span class="social-link muted">
                <i class="bi" [ngClass]="item.icon"></i>
                <span>{{ item.text }}</span>
              </span>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>